<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/featured/?art,painting,modern);">
  <div class="container">
    <h1>Painting study brings <strong>marvelous arts</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and buy some cool paintings.</p>
    <div class="btn btn-light">
      <%= link_to "Create now", new_artist_painting_path([:artist]) %>
    </div>
  </div>
</div>


      <!-- Flipcard ----------------------------->
<div class="container-painting-cards">
  <div class="main">
      <<div class="front">
          <span></span>
          <div class="data-wrapper">
              <div class="circle"><i class="fa fa-code"></i></div>
              <div class="data">
                  <span class="title">Modern painting</span>
                  <p>Picasso</p>
              </div>
          </div>
      </div>

      <div class="back">
          <div class="skills">
              <h2>Tip #1</h2>
              <div>
                  <div></div>
                  <span class="tech">ASK FOR HELP!</span>
              </div>



                  <p>Women around the room nodded in agreement. If you’re a woman, you’re probably familiar with taking on too much, saying “Yes” to too much and completely reaching your wits end with all of it! Let’s say “No” more, so we can be a “Yes” to more important and focused things, ladies!</p>
          </div>

      </div>
  </div>

<!-- //Flipcard -------------------->

      <!-- Flipcard ----------------------------->

  <div class="main">
      <div class="front">
          <span></span>
          <div class="data-wrapper">
              <div class="circle"><i class="fa fa-code"></i></div>
              <div class="data">
                 <span class="title">Modern painting</span>
                  <p>Van Gogh</p>
              </div>
          </div>
      </div>

      <div class="back">
         <div class="skills">
              <h2>Tip #1</h2>
              <div>
                  <div></div>
                  <span class="tech">ASK FOR HELP!</span>
              </div>



                  <p>Women around the room nodded in agreement. If you’re a woman, you’re probably familiar with taking on too much, saying “Yes” to too much and completely reaching your wits end with all of it! Let’s say “No” more, so we can be a “Yes” to more important and focused things, ladies!</p>
          </div>

      </div>
  </div>

<!-- //Flipcard -------------------->

  <!-- Flipcard ----------------------------->

  <div class="main">
      <div class="front">
          <span></span>
          <div class="data-wrapper">
              <div class="circle"><i class="fa fa-code"></i></div>
              <div class="data">
                 <span class="title">Modern painting</span>
                  <p>Salvador Dali</p>
              </div>
          </div>
      </div>

      <div class="back">
          <div class="skills">
              <h2>Tip #1</h2>
              <div>
                  <div></div>
                  <span class="tech">ASK FOR HELP!</span>
              </div>


                  <p>Women around the room nodded in agreement. If you’re a woman, you’re probably familiar with taking on too much, saying “Yes” to too much and completely reaching your wits end with all of it! Let’s say “No” more, so we can be a “Yes” to more important and focused things, ladies!</p>
          </div>

      </div>
  </div>

<!-- //Flipcard -------------------->

</div><!-- //Container ----------->
