.front span{
    display:block;
    margin-top:60px;
    font-size:100px;
    margin-bottom: 12px
}

.container-painting-cards {
  display:flex;
  justify-content: space-around;

}
.main {
  display: flex;
  margin: 0.5em;
  transition: 0.5s all ease;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  width: 33.3%;
  min-width: 200px;
  max-width: 350px;
  height: 410px;
}
.main .front,
.main .back {
  background: #34495e;
  position: absolute;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  height: 410px;
  transition: 0.5s all ease;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  backface-visibility: hidden;
    box-shadow: 1px 1px 5px #000;
}
.main .front .data-wrapper,
.main .back .data-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  background: #fff;
  color: #ccc;
}
.main .front .data-wrapper .data,
.main .back .data-wrapper .data {
  color: #000;
  width: 80%;
  margin: 2em auto;
}
.main .front .data-wrapper .data .title,
.main .back .data-wrapper .data .title {
  font-weight: bold;
  font-size: 18px;
}
.main .front .data-wrapper .circle,
.main .back .data-wrapper .circle {
  color: #fff;
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  background: #019875;
  top: -1.5em;
  left: 40%;
}
.main .icon {
  font-size: 10em;
  padding: 0.2em 0 0 0;
}
.main .front {
  text-align: center;
  color: #fff;
}
.main .back {
  color: #fff;
  transform: rotateY(180deg);
}
.main .back .social {
  width: auto;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.main .back .social i {
  margin: 5px;
}
.main .back .skills {
  margin: 0 auto;
  text-align: center;
  padding: 1.5em;
}

.main:hover .front {
  transform: rotateY(180deg);
  z-index: 2;
}
.main:hover .front span {
  position: relative;
  top: 25px;
}
.main:hover .back {
  transform: rotateY(0deg);
}
.back p{
    text-align:justify;
    font-weight:400;
    font-size:14px;
}
